// application variables for 720x576

// inherit all stb-app vars
@import "../../../node_modules/mag-app/sass/vars/576";

$safePadding: 20px;

$posterW: 	105px;
$posterH: 	160px;
$posterML: 	60px;
$mainInfoM: 5px;
$mainInfoP: 5px;

$modalItemW: 190px;

$panelMain2xWidth:     430px;
$panelTitleHeight:     45px;
$panelMainWidth:       390px;
$panelWidth:           230px;
$panelHeight:          360px;
$panelMainHeight:      400px;
$panelMainTitleHeight: 50px;
$scrollBarWidth:	   5px;
