// application variables for 1280x720

// inherit all stb-app vars
@import "../../../node_modules/mag-app/sass/vars/720";

$safePadding: 20px;

$posterW: 	155px;
$posterH: 	240px;
$posterML: 	85px;
$mainInfoM: 5px;
$mainInfoP: 20px;

$modalItemW: 240px;

$panelMain2xWidth:     780px;
$panelTitleHeight:     56px;
$panelMainWidth:       480px;
$panelWidth:           355px;
$panelHeight:          448px;
$panelMainHeight:      544px;
$panelMainTitleHeight: 68px;
$scrollBarWidth:	   5px;
