doctype html
html
    head
        title=package.name
        meta(charset="utf-8")
        meta(name="description", content=package.description)
        link(rel="icon", type="image/png", href="img/favicon.png")
        script(type="text/javascript", src="js/main.js")

    body
        include pages/main
