/* application: develop */
#pageInit {
    display: table; }
    #pageInit > .cell {
        display: table-cell;
        position: relative;
        text-align: center;
        vertical-align: middle;
        font-size: 150%; }
        #pageInit > .cell > .version {
            position: absolute;
            bottom: 50px;
            right: 50px;
            font-size: 50%; }
